.current {
  color: green;
}

.verdant-content {
    margin: 0px 255px;
    padding: 1rem 2rem;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.verdant-content ol,
.verdant-content ul:not(#home-posts-list):not(#posts-list):not(#categories-list):not(#category-list):not(#tag-list) {
    padding-left: 2rem;
}

.list-post-details {
    display: flex;
}

.list-post-details i {
    font-size: 20px;
}

.post-navigation-sidebar {
    padding: 1rem 2rem;
    position: fixed;
    right: 0;
    top: 2rem;
    width: 255px;
}

body {
  background-color: var(--background-color);
  color: var(--color-text-primary);
  font-family: var(--bs-body-font-family);
}

h1 {
  font-family: 'Acorn';
  color: var(--color-text-primary);
  font-size: var(--font-h1);
}

blockquote>p {
    margin-bottom: 0;
    border-left: solid var(--color-text-primary-50) 2px;
    padding-left: 15px;
}

#home-posts-list,
#posts-list,
#categories-list,
#category-list,
#tag-list {
    list-style-type: none;
}

#home-posts-list a,
#posts-list a,
#categories-list a,
#category-list a,
#tags-list a,
#tag-list a {
    text-decoration: none;
    color: var(--color-text-primary);
}

#home-posts-list a:hover,
#posts-list a:hover,
#categories-list a:hover,
#category-list a:hover,
#tag-list a:hover {
    color: var(--sidebar-connection-link-hover);
    border: solid var(--sidebar-connection-link-hover) 1px;
    border-radius: 6px;
}

#home-posts-list p,
#posts-list p,
#category-list p,
#tag-list p {
    margin-bottom: 0;
}

#home-posts-list .card,
#posts-list .card,
#categories-list .card,
#category-list .card,
#tag-list .card {
    background-color: var(--sidebar-background-color);
    margin-bottom: 10px;
    border: 0;
}

.tag-pill {
    background-color: forestgreen;
    border-radius: 15px;
    color: var(--background-color);
    margin: 5px;
    padding: 8px;
    font-weight: bold;
}


a:hover .tag-pill {
    color: var(--sidebar-connection-link-hover);
    border: solid var(--background-color-inverse) 1px;
    border-radius: 15px;
}

code {
    color: var(--color-code-markdown);
}

pre {
    border: solid var(--sidebar-connection-link-hover) 1px;
    border-radius: 5px;
    padding: 3px 0px;
}

table {
    border-collapse: separate;
    margin-bottom: 10px;
}

th {
    border-bottom: solid var(--sidebar-connection-link-hover) 2px;
}

tr:nth-child(even) {
    background-color: var(--tr-even-color);
}

.image-border {
  padding: 10px;
  border: 5px solid #ccc;
  margin-bottom: 15px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-max-width {
  max-width: 25%;
}

@media only screen and (max-width: 1200px) {
    .verdant-content {
        margin: 0px 50px 0px 255px;
    }

    .post-navigation-sidebar {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .verdant-content {
        margin: 0px 50px 0px 50px;
    }
}

@media only screen and (max-width: 768px) {
    .image-max-width {
        max-width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .list-post-details {
        display: block;
        margin-bottom: 5px;
    }

    .verdant-content {
        margin: 0px 0px 0px 50px;
    }
}